html {
    height: 100%;
    /*box-sizing: border-box;*/
}
body {
    height: inherit;
    min-height: 100%;
    /* padding-bottom = footer.height + back-to-top.height */
    padding-bottom: 117px;
    position: relative;
}
@media screen and (max-width:767px) {
    body {
        height: auto;
    }
}

/*
* NAVBAR TOP
*/

.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    padding: 5px 5px;
}
.navbar-brand>img {
    width: auto;
    height: 100%;
}
.innerbar {
    position: relative;
    /*z-index: 1000;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
.innerbar form {
    display: none;
}
.innerbar form .search-inline div[class^=col-]:first-child{
  padding-left: 15px;
}
.innerbar form .search-inline div[class^=col-] {
  padding-left: 5px;
  padding-right: 5px;
}
.innerbar form .search-inline input {
}

/*
* BUTTON - bugfix
*/

.btn-primary.active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus {
    background-color: #ee3900;
    border-color: #ca3100;
}

/*
* BACK TO TOP BUTTON
*/

.back-to-top {
    position: fixed;
    z-index: 100;
    display: none;
    bottom: 0;
    right: 0;
}
.back-to-top-parent {
    width: 100%;
    position: absolute;
    /* bottom = footer.height */
    bottom: 81px;
}

/*
* FULL HEIGHT
*/

.full-parent {
    height: 100%;
}

/*
* ACCOUNT PAGE
*/

.account-nav-list li {
    list-style: none;
}
.sidebar {
    background-color: #fbf7d9;
    padding-bottom: 40px;
    height: 100%;
}

/*
* FOOTER
*/

.bottombar {
    border-top: 20px solid #ffab91;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 81px;
    background-color: #F44336;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer a {
    color: #fcf8e3;
    text-decoration: none;
}
footer a:hover, footer a:focus {
    color: #e6d5b8;
}
