.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    padding: 5px 5px;
}
.navbar-brand>img {
    width: auto;
    height: 100%;
}
.innerbar {
    position: relative;
    /*top: -20px;*/
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.innerbar form {
    display: none;
}
.bottombar {
    border-top: 20px solid #ffab91;
}
.back-to-top {
    position: fixed;
    z-index: 100;
    display: none;
    bottom: 0;
    right: 0;
}
.back-to-top-parent {
    width: 100%;
    position: relative;
}
.account-nav-list li {
    list-style: none;
}
.account-nav-list .btn-link {
    text-decoration: none;
}
footer {
    bottom: 0;
    position: relative;
    background-color: #F44336;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer a {
    color: #fcf8e3;
    text-decoration: none;
}
footer a:hover, footer a:focus {
    color: #e6d5b8;
}
.sidebar {
    position: fixed;
    top: 71px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fbf7d9;
    padding-bottom: 40px;
}
