html {
    height: 100%;
}
body {
    height: 100%;
    position: relative;
}
@media screen and (max-width:767px) {
    body {
        /* need test - otherwise set to auto */
        height: 100%;
    }
}
header{
	position: relative;
}
#operation-alert{
	position: absolute;
	right:0;
	z-index: 100;
}
/*
* NAVBAR TOP
*/

.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    padding: 5px 5px;
}
.navbar-brand>img {
    width: auto;
    height: 100%;
}
.innerbar {
    position: relative;
    /*z-index: 1000;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
.innerbar form {
    display: none;
}
.innerbar form .search-inline div[class^=col-]:first-child {
    padding-left: 15px;
}
.innerbar form .search-inline div[class^=col-] {
    padding-left: 5px;
    padding-right: 5px;
}
.inner-cart .coins {
    margin-left: -20px;
    padding-left: 40px;
    display: inline-block;
}

/*
* BUTTON - bugfix
*/

.btn-primary.active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus {
    background-color: #ee3900;
    border-color: #ca3100;
}

/*
* BACK TO TOP BUTTON
*/

.back-to-top {
    position: fixed;
    z-index: 100;
    display: none;
    bottom: 0;
    right: 0;
}
.back-to-top-parent {
    width: 100%;
    position: relative;
}

/*
* CONTENT
*/

.content {
    position: relative;
    min-height: 100%;
    margin-bottom: -81px;
}
.content:after {
    content: "";
    display: block;
    /* .push must be the same height as footer */
    height: 117px;
}
.content-float {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: -15px;
}
/*
* TUMBNAILS
*/
.thumbnail {
	position:relative;
	background-color: #FFF1FF;
	color:white;
}
.thumbnail > .caption{
	position: absolute;
	bottom:0;
	left: 0;
right: 0;
margin: auto;
}
.thumbnail a:link,.thumbnail a:visited,.thumbnail a:hover,.thumbnail a:active {
	color:white;
}
/*
* SIDEBAR
*/

.sidebar {
    padding-bottom: 40px;
}
.sidebar-float {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 33.33333333%;
    margin-left: -15px;
}

/*
* ACCOUNT PAGE
*/

.account-nav-list li {
    list-style: none;
}

/*
* ITEMS BOX
*/

.event .ticket-table {
    border-collapse: separate;
    border: 1px solid #E6D5B8;
    border-radius: 10px;
}
.item-box {
    /*border-radius: 25px;*/
    background-color: white;
    /*padding: 15px;
  margin: 5px;*/
}
.table, .table tr, .table thead, .table tbody {
    border-radius: 10px;
}
.table> thead> tr> th, .table> thead> tr> td, .table> tbody> tr> th, .table> tbody> tr> td, .table> tfoot> tr> th, .table> tfoot> tr> td {
    border-top: 1px solid #E6D5B8;
}
.table> thead> tr> th {
    border-bottom: 2px solid #E6D5B8;
}

/*
  * CART
  */

.cart-action {
    padding-top: 60px;
}
.cart-action> div[class^=col-] {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
* EVENT LIST
*/

.events-list .row {
    min-height: 80px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
}
.events-list .row:nth-child(odd) {
    background: #FF5722;
}
.events-list .row:nth-child(even) {
    background: #F57C00;
}

.events-list img {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

/*
* FOOTER
*/

footer {
    height: 81px;
    background-color: #F44336;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 20px solid #ffab91;
}
footer a {
    color: #fcf8e3;
    text-decoration: none;
}
footer a:hover, footer a:focus {
    color: #e6d5b8;
}
